{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- index.html content starts here -->
<div class="container container-fluid content-main-container">
    <div class="container-fluid">
        <div class="row">
            <form method="post"> <!-- Form start -->
                {% csrf_token %} <!-- CSRF token input field -->
                {% for review in reviews %}
                <div class="review-card" id="review-{{ review.id }}">
                    <div id="review-content-{{ review.id }}">
                        <h2>Review by {{ review.author }}</h2>
                        <p id="review-content-text-{{ review.id }}">{{ review.content }}</p>
                        <small>Created on: {{ review.created_on }}</small>
                        <button type="button" class="btn btn-edit" data-review-id="{{ review.id }}">Edit</button>
                        <button type="button" class="btn btn-danger btn-delete" data-review-id="{{ review.id }}">Delete</button>
                    </div>
                    <div id="edit-form-{{ review.id }}" style="display:none;">
                        <textarea id="edit-content-{{ review.id }}" rows="4" cols="50">{{ review.content }}</textarea>
                        <br> <!-- Add a line break for spacing -->
                        <button type="button" class="btn btn-success btn-save" data-review-id="{{ review.id }}">Save</button>
                        <button type="button" class="btn btn-danger btn-cancel" data-review-id="{{ review.id }}">Cancel</button>
                    </div>
                </div>
                
                {% endfor %}
            </form> <!-- Form end -->
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}