{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container container-fluid  content-main-container">
    <div class="container-fluid">
        <div class="row">
            {% for review in reviews %}
            <div class="review-card">
                <h2>Review by {{ review.author }}</h2>
                <p>{{ review.safe_content }}</p> <!-- Displays safe HTML content -->
                <small>Created on: {{ review.created_on }}</small>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}