body {
    background-color: #F9FAFC;
}

h6 {     
    text-align: center;     
    font-size: medium; 
}

.row.row-1 {
    margin-top: 100px;
}

.home-h {
    margin-top: 10px;
}

#submitButton {
    margin-top: 15px;
}

.btn-edit,
.btn-danger,
.btn-success {
    margin-top: 10px;
}

.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.headers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-card textarea {
    margin-top: 10px;
    width: 100%; /* Example styling: make the textarea full width */
    padding: 10px; /* Example styling: add padding */
    border: 1px solid #ccc; /* Example styling: add border */
    border-radius: 5px; /* Example styling: add border radius */
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Adjust as needed */
    width: 27%;
    margin-bottom: 10px; /* Add margin between each form-check */
}

.form-check-input {
    display: none; /* Hide the default radio button */
}

#time-slots-fieldset.form-group {
    height: 100%;
    margin-top: 20px;
}

.review-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* Adds rounded corners to the card */
    padding: 16px;
    margin: 10px 0; /* Adds space between cards */
    background-color: #fff; /* Background color for the card */
}

.review-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.review-card h2 {
    color: #333; /* Dark grey color for the title */
}

.review-card p {
    color: #666; /* Light grey color for the content */
}

.review-card small {
    display: block;
    margin-top: 12px;
    color: #888; /* Even lighter grey color for the date */
}


.form-check-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set width and height to create oval shape */
    height: 30px;
    background-color: #ccc; /* Default background color */
    border-radius: 12px; /* Make it oval */
    text-align: center; /* Center the text */
    line-height: 20px; /* Center the text vertically */
    cursor: pointer; /* Change cursor to pointer */
}

.form-check-input:checked + .form-check-label {
    border: 2px solid #000; /* Apply border when radio button is checked */
}

.col-md-8.card.mb-4.mt-3 {
    width: 100%; /* Set the width to 100% of the parent container */
    display: grid;
    justify-content: center;
    align-items: center;
}

.col-md-8.card.mb-4.mt-3 > h3 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.col-md-4.card.mb-4.mt-3 {
    width: 100%;
}

.col-12 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.card-body > .p1 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.form-check {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
}

@media (min-width: 992px) {
    .container {
        max-width: 960px; /* Set a maximum width for screens larger than 992px */
    }

    .col-md-3 {
        margin-top: -30px;
    }

    .h6 {
        margin-top: 10px;
    }

    .row {
        margin-top: 40px;
    }

    .form-check {
        width: 25%; /* Four buttons per row */
    }

    .fieldset#time-slots-fieldset.form-group {
        margin-left: 15%;
    }

    #time-slots-fieldset.form-group {
        margin-left: 15%;
    }
}


.card-img-top, img {
    width: 100%; /* Set the width to 100% of the parent container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    display: block; /* Remove any default inline display */
    margin: 0 auto; /* Center the images within their parent container */
}

@media (max-width: 767px) {
    .container {
        max-width: 100%; /* Full-width container for smaller screens */
    }

    .row {
        margin-top: 45px;
    }

    .card-img-top, img {
        /* You can adjust the width and margins for smaller screens */
        width: 75%;
        height: 90%; /* Adjust the height as needed */
        margin: 0 auto;
    }

    .col-md-3.top-im{
        margin-top: -30px;
    }
    
    .row.row-1 {
        margin-top: 45px; /* Adjust the margin for row-1 */
        min-height: 100px; /* Set a minimum height for the row */
    }

    .col-md-7 {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .col-md-7 > h3 {
        justify-self: center;
    }

    .row.featurette { 
        margin-top: -10px;
    }

    .featurette-image {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .container.container-fluid.content-main-container {
        padding: 20px; /* Add padding to create space around the content */
    }

    .col-md-7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .col-md-7 h3 {
        margin-top: 10px;
    }

    .featurette-divider {
        margin: 20px 0;
    }

    .form-check-label{
        width: 105px;
    }
    
}




.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navbar-text {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.featurette-image {
   height: 100%;
}

.featurette-divider {
    border-top: 3px solid #333; /* Change the color to your preferred color */
    margin: 20px 0; /* Adjust the margin for spacing */
}

@media (max-width: 360px) {
    #time-slots-fieldset.form-group {
        margin-right: 25px;
    }

    .form-check-label {
        width: 75px;
    }
}