body {
    background-color: #F9FAFC;
}

h6 {     
    text-align: center;     
    font-size: medium; 
}

.row.row-1 {
    margin-top: 100px;
}

.home-h {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px; /* Set a maximum width for screens larger than 992px */
    }

    .col-md-3 {
        margin-top: -30px;
    }

    .h6 {
        margin-top: 10px;
    }

    .row {
        margin-top: 20px;
    }
}


.card-img-top, img {
    width: 100%; /* Set the width to 100% of the parent container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    display: block; /* Remove any default inline display */
    margin: 0 auto; /* Center the images within their parent container */
}

@media (max-width: 767px) {
    .container {
        max-width: 100%; /* Full-width container for smaller screens */
    }

    .row {
        margin-top: 45px;
    }

    .card-img-top, img {
        /* You can adjust the width and margins for smaller screens */
        width: 75%;
        height: 90%; /* Adjust the height as needed */
        margin: 0 auto;
    }

    .col-md-3.top-im{
        margin-top: -30px;
    }
    
    .row.row-1 {
        margin-top: 45px; /* Adjust the margin for row-1 */
        min-height: 100px; /* Set a minimum height for the row */
    }
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navbar-text {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
